.sizeSlide{
    width: 60%;
    height: auto;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
    float:left;
    padding: 30px;
    
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: auto;
    height: auto;
    max-width:1200px ;
    max-height: 60%;
    object-fit: cover;
  }
  .bg-yellow {
    background-color: yellow;
  }
  .transition {
    transition: background 0.25s ease, color 0.25s ease;
  }
  .active-slide {
    background-color: green;
    color: #fff;
  }
  .bg-blue {
    background-color: blue;
    color: #fff;
  }
  /* You can add global styles to this file, and also import other style files */
  .swiper-container{
    max-width: auto;
    max-height: auto;
  }
  .swiper-wrapper{
        width: auto;}
        