.popup-bg{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 75%;
    margin-top: -150px;
    margin-left: -600px;
}
.popup{
    position: absolute;
    top: 0;
    left: 50%;
    width: 500px;
    background: rgb(255, 255, 255);
    padding: 20px;
    transform: translate(-50%, 50%);
    margin-top: 0%;
}
.popup-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup-form input{
    width: 40%;
    border: 30px solid #000;
    font-size: 20px;
    margin-bottom: 30px;
    height: 40px;
    border-left: 20px;
}
.contacts{
    text-align: center;
}
.popup1{
    margin-left: 40px;
}
.popup2{
    margin-left: 5px;
}
.btn-close{
    position: absolute;
    margin-left: 450px;
    margin-top: -480px;
    background-color: red;
}
.popup3{
    margin-left: 40px;
}
