
<div class="popup-bg">
   
    <div class="popup">
         <div class="contacts">
    <h1>С нами можно связаться:</h1>
    <h3>+375(29)-755-96-16<hr>+375(33)-617-16-04<hr>e-mail:  e2-mail@mail.ru<hr>instagram:  @e2_mebel</h3>
</div>
    <nav class="navbar">
        <h3>Напишите и мы вам перезвоним</h3></nav> 
        <form action="">
        <input class="popup1" type="text" name="popup-form" placeholder="Ваше имя">
        <input class="popup2" type="phone" name="popup-form" placeholder="Ваш номер телефона">
        <input class="popup3" type="submit" value="Отправить заявку">
        </form>
        <button  class="button btn-close"(click)="close.emit()"></button>
    </div>
    </div>
    