<div class="Title"> <h1>Мебель на заказ </h1>
<h3> в Мозыре и регионах</h3> 
  <h3>по индивидуальным проектам</h3> 
  <h3>и размерам</h3>
  <h3>из качественных материалов</h3>
  <h3>с неповторимым дизайном</h3>
</div>
<div class="information">
  <p>Мы предлагаем для Вас, а также для Ваших друзей и близких изготовить мебель на заказ,
     которая производится по индивидуальным проектам и размерам, 
     благодаря нашим опытным дизайнерам и мастерам выбранный Вами вариант на сайте,
      или понравившееся фото мебели из интернета,
      подгоняется под любые размеры помещения, учитывая геометрию и архитектуру. 
    А так же создадим и реализуем индивидуальный проект мебели как корпусной, так и встраиваемой.</p>
    <p>Наши цены на изготовление мебели (кухни на заказ, детские, шкафы купе, гардеробные, мебель в ванную,  компьютерные столы, стенки, горки, комоды) и другую корпусную мебель самые лояльные.
       Которые значительно отличаются от цены перекупов. 
      Правильный расчет всех деталей будущей мебели это не только экономия пространства, но и Ваших денег!</p>
</div>
<div class="furniture"> <h2>МЫ ИЗГОТАВЛИВАЕМ</h2>
  <div class="my-furniture">
    <div><hr>
      <img class="img-furniture" src="/assets/furnityre/bathroom.jpeg" alt="">
    </div><span>Ванные</span>
    <div><hr>
      <img class="img-furniture" src="/assets/furnityre/beddroom.jpg" alt="">
    </div><span>Спальни</span>
    <div><hr>
      <img class="img-furniture" src="/assets/furnityre/childrens.jpg" alt="">
    </div><span>Детские</span>
    <hr>
    <div><hr>
      <img class="img-furniture" src="/assets/furnityre/cupboard.jpg" alt="">
    </div><span>Шкафы</span>
    <div><HR>
      <img class="img-furniture" src="/assets/furnityre/hallway.jpg" alt="">
    </div><span>Прихожие</span>
    <div><HR>
      <img class="img-furniture" src="/assets/furnityre/kitchen.jpg" alt="">
    </div><span>Кухни</span>
    <div><hr>
      <img class="img-furniture" src="/assets/furnityre/living room.jpg" alt="">
    </div><span>Гостинные</span>
    <div><hr>
      <img class="img-furniture" src="/assets/furnityre/office furniture.jpg" alt="">
    </div><span>Офисная мебель</span>
    <div><hr>
      <img class="img-furniture" src="/assets/furnityre/wardrobe.jpg" alt="">
    </div><span>Гардеробы</span>
  </div>
</div>
<hr>
<div class="outline"><h3>ПОЧЕМУ ВЫБИРАЮТ ИМЕННО НАС</h3></div>
<div class="my-flex-container">
  <div>
    <img class="my-flex-block filter" src="/assets/icon/1.svg" alt="">
  </div><p> Лучшие специалисты</p>
  <div>
     <img class="my-flex-block filter" src="/assets/icon/2.svg" alt="">
    </div><p>Работаем с регионами</p>
  <div> 
    <img class="my-flex-block filter" src="/assets/icon/3.svg" alt="">
  </div><p>Расрочка до 12 месяцев</p>
  <div>
     <img class="my-flex-block filter" src="/assets/icon/4.svg" alt="">
    </div><p>Гарантия качества</p>
  <div>
    <img class="my-flex-block filter" src="/assets/icon/5.svg" alt="">
  </div><p>Боолее 10 лет на рынке</p>
</div>
<hr>
<div class="container">
  <H2>Мы сотрудничаем</H2>
  <div class="my-container">
    <div>
      <img class="img-container1"  src="/assets/we working/egger.jpg" alt="">
    </div>
    <div>
      <img class="img-container2"  src="/assets/we working/duropal.png" alt="">
    </div>
    <div>
      <img class="img-container3"  src="/assets/we working/blum.webp" alt="">
    </div>
    <div>
      <img class="img-container4"  src="/assets/we working/rehau.png" alt="">
    </div>
    <div>
      <img class="img-container5"  src="/assets/we working/cleaf.jpg" alt="">
    </div>
    
  </div>
</div>
<div>
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let in of slides(100); let i = index">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="sizeSlide" src="/assets/img/slide{{i+1}}.jpg" style="width:100%;"> </div>
    </div>
  </ng-template>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>
</div>