<div class="Title"> <h1>Мебель на заказ </h1>
<h3> в Мозыре и регионах</h3> 
  <h3>по индивидуальным проектам</h3> 
  <h3>и размерам</h3>
  <h3>из качественных материалов</h3>
  <h3>с неповторимым дизайном</h3>
</div>
<hr>
<div class="outline"><h3>ПОЧЕМУ ВЫБИРАЮТ ИМЕННО НАС</h3></div>
<div class="my-flex-container">
  <div>
    <img class="my-flex-block filter" src="/assets/icon/1.svg" alt="">
  </div><p> Лучшие специалисты</p>
  <div>
     <img class="my-flex-block filter" src="/assets/icon/2.svg" alt="">
    </div><p>Работаем с регионами</p>
  <div> 
    <img class="my-flex-block filter" src="/assets/icon/3.svg" alt="">
  </div><p>Расрочка до 12 месяцев</p>
  <div>
     <img class="my-flex-block filter" src="/assets/icon/4.svg" alt="">
    </div><p>Гарантия качества</p>
  <div>
    <img class="my-flex-block filter" src="/assets/icon/5.svg" alt="">
  </div><p>Боолее 10 лет на рынке</p>
</div>
<hr>
<div class="container">
  <H2>Мы сотрудничаем</H2>
  <div class="my-container">
    <div>
      <img class="img-container"  src="/assets/we working/egger.jpg" alt="">
    </div>
    <div>
      <img class="img-container"  src="/assets/we working/duropal.png" alt="">
    </div>
    <div>
      <img class="img-container"  src="/assets/we working/blum.webp" alt="">
    </div>
    <div>
      <img class="img-container"  src="/assets/we working/rehau.png" alt="">
    </div>
    <div>
      <img class="img-container"  src="/assets/we working/cleaf.jpg" alt="">
    </div>
    
  </div>
</div>
<div>
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let in of slides(3); let i = index">
    <div class="swiper-wrapper" >
      <div class="swiper-slide"><img class="sizeSlide" src="/assets/img/slide{{i+1}}.jpg"></div>
    </div>
  </ng-template>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>
</div>