<div class="outline"><h3 align="center">ПОЧЕМУ ВЫБИРАЮТ ИМЕННО НАС</h3></div>
<div class="my-flex-container">
  <div class="my-flex-block">  <img src="/assets/icon/1.svg" style="width: 50px; height: 50px ;" alt=""></div><p>Лучшие специалисты</p>
  <div class="my-flex-block"> <img src="/assets/icon/2.svg" alt=""></div><p>Работаем с регионами</p>
  <div class="my-flex-block"> <img src="/assets/icon/3.svg"style="width: 50px; height: 50px;" alt=""></div><p>Расрочка до 12 месяцев</p>
  <div class="my-flex-block"> <img src="/assets/icon/4.svg" alt=""></div><p>Гарантия качества</p>
  <div class="my-flex-block"> <img src="/assets/icon/5.svg"style="width: 50px;height: 50px;" alt=""></div><p>Боолее 10 лет на рынке</p>
</div>
<div>

</div>

<div>
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let in of slides(3); let i = index">
    <div class="swiper-wrapper" >
      <div class="swiper-slide"><img class="sizeSlide" src="/assets/img/slide{{i+1}}.jpg"></div>
    </div>
  </ng-template>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>
</div>