<div>
    <div ng-controller="MyCtrl">
        <div ng-repeat="review in reviews">
        <blockquote>
             <h3>{{reviews.name}}</h3>
             <h3>{{reviews.star}}</h3>
             <h5 ><small><i>{{reviews.email}}</i></small></h5>
             <p>{{reviews.message}}</p>
        </blockquote>
        </div>
        <form>            
             <div class="input-group">
             <span >Name</span>
             <input  type="text" ng-model="review.name" />
             <span >E-mail</span>
             <input type="email" ng-model="review.email" />
             <span>Star</span>
             <select ng-model="review.star">
                 <option name="oneStar" value="1 star">1 Star</option>
                 <option name="twoStar" value="2 star">2 Star</option>
                 <option name="threeStar" value="3 star">3 Star</option>
                 <option name="fourStar" value="4 star">4 Star</option>
                 <option name="fiveStar" value="5 star">5 Star</option>
             </select>
             </div>
        </form>
        <textarea class="form-control" rows="5" ng-model="review.message">
        </textarea>
        <input type="submit" class="btn btn-block btn-success" ng-click="addReview()" value="Submit review" />             
   </div>
</div>