
.popup-bg{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    margin-top: -150px;
    margin-left: -600px;
    
}
.popup{
    position: relative;
    top: -300px;
    left: 50%;
    width: 1100px;
    background: rgb(255, 255, 255);
    padding: 20px;
    transform: translate(-50%, 50%);
    margin-top: 0%;
    border-radius: 10px;
    z-index: 9999;
}
.popup-form{
    display:block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
}
.popup-form input{
    width: 60%;
    border: 30px solid #000;
    font-size: 20px;
    margin-bottom: 30px;
    height: 40px;
    border-left: 20px;
}
.contacts{
    text-align: center;
}
.btn-close{
    position: absolute;
    margin-left: 1050px;
    margin-top: -1000px;
    background-color: red;
}
.img-furniture{
    width: 600px;
    height: 400px;
}
.furniture{
    text-align: center;
}