.navbar-nav{
    position: absolute;
    right: 2px;
}
.style{
    color:aliceblue;
    margin-left: 5px;
}
.headercolor{
background-color: #8b8889!important;
}
.nav-link{
    color: black;
}
.fa-bars{
position: absolute;
    right: 15px;
    top: 15px;
}
.style2{
    position: absolute;
    margin-top: -55px;
    margin-left: 60px;
    color:aliceblue;
}


