/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import "~swiper/swiper-bundle";

body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 50px auto;
}

.swiper-slide {
  background: none;
  color: #000;
  text-align: center;
  line-height: 300px;
}
p{
  color: aliceblue!important;
}

